body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #ccf;
    font-size: 35px;
}

a {
    color: white;
    text-decoration: none;
    padding: 2px;
    border: 1px solid white;
}

.link {
    color: white;
    padding: 2px;
    cursor: pointer;
}

i {
    color: white;
    cursor: pointer;
}

i.include,
i.exclude {
    margin-left: 10px;
    margin-right: 10px;
}

i.included {
    background-color: #8ebf42;
}

i.excluded {
    background-color: #f54;
}

i.remove {
    color: #f54;
}

i.filter {
    position: absolute;
    top: 0px;
    left: 10px;
}

i.select {
    position: absolute;
    top: 0px;
    right: 10px;
}

i.enabled {
    color: #8ebf42;
}

i.play {
    position: absolute;
    bottom: 10px;
    left: 25px;
}

i.close {
    position: absolute;
    top: 10px;
    right: 25px;
}

i.left {
    position: absolute;
    left: 25px;
}

i.right {
    position: absolute;
    right: 25px;
}

i.back {
    margin-right: 20px;
}

i.forward {
    margin-left: 20px;
}

i.start {
    margin-right: 40px;
}

i.end {
    margin-left: 40px;
}

.big {
    font-size: 70px;
}

input {
    font-size: 35px;
    background-color: black;
    color: #ccf;
}

div.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
}

span.selected-tag {
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
    border: 1px solid white;
}

ul {
    list-style-type: none;
    margin-top: 0.5em;
    margin-left: 0;
    padding: 0;
}

ul ul {
    margin-left: 0.5em;
}

.thumbnail {
    display: inline-block;
    margin: 0;
    border: 3px solid black;
    cursor: pointer;
}

.selected {
    border: 3px solid #8ebf42;
}

span.tag {
    font-size: 18px;
    padding: 2px;
    margin: 2px;
    border: 1px solid #ccf;
}

span.tags {
    position: absolute;
    top: 10px;
    left: 10px;
}

a.original {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.error {
    color:  #f54;
}

form.log-in {
    flex-basis: 100%;
    display: table;
}

form.log-in p {
    display: table-row;
}

form.log-in p label {
    display: table-cell;
    padding-left: 40px;
}

form.log-in p input {
    display: table-cell;
}

div.overlay,
div.log-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

div.overlay img,
div.overlay video {
    max-width: 100%;
    max-height: 100%;
}
