.image {
    display: inline-block;
}

.selected {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}

.unselected {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
